{{define "master"}}

{{template "header" .}}

{{template "sidebar" .}}

{{template "navbar" .}}

<div class="wrapper wrapper-content animated fadeInRight" id="id-for-update">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Home</h5>
                </div>
                <div class="ibox-content">

                    <div class="hr-line-dashed"></div>


                </div>
            </div>
        </div>
    </div>
</div>

{{template "footer" .}}

{{end}}

{{template "master"}}